#project-h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    width: 250px;
    border-bottom: 2px solid rgb(182, 187, 196);
}

#tip-img{
    object-position: center;
}

#typescript-img{
    filter: invert(1) grayscale(1) brightness(2);
}

.icon-skills{
    display: flex;
    gap: 15px;

    img{
        width: 30px;
        height: 30px;
        filter: brightness(0) invert(1);
        cursor: pointer;

        &:nth-child(5){
            transform: scale(1);
        }

        &:nth-child(4){
            transform: scale(0.86);
        }

        &:nth-child(3), &:nth-child(4){
            filter: grayscale(100%) brightness(70%) contrast(300%) invert(2);
        }

        &:nth-child(5){
            filter: grayscale(100%) brightness(100%) contrast(2) invert(0);
            transform: scale(0.8);
        }
    }

    &.ot-pr{
        position: absolute;
        padding-bottom: 5%;
        bottom: 0;
        
        img{
            cursor: auto;
        }
    }
}

.projects{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 900px;
    margin: auto;
    gap: 20px;

    .project{
        display: flex;
        flex-direction: row-reverse;
        background-color: rgb(49, 48, 77);
        padding: 2%;

        .project-img{
            width: 60%;
            max-height: 280px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        .project-info{
            width: 40%;
            position: relative;

            img{
                width: 30px;
                height: 30px;
            }

            h1{
                margin-top: -10px;
                margin-bottom: 0px;
            }

            hr{
                width: 100px;
                position: absolute; 
            }

            p{
                &:nth-child(1){
                    margin-top: 0px;
                    margin-bottom: 20px;
                }
            }

            #p-info-project{
                margin-top: 30px;
                max-width: 310px;
            }

            .links-project{
                display: flex;
                align-items: center;
                position: absolute;
                bottom: 0;
                gap: 5px;

                a{
                    text-decoration: none;
                }

                button{
                    width: 120px;
                    background-color: rgba(16, 19, 36, 0.39);
                    border: none;
                    font-size: 1rem;
                    font-weight: 500;
                    height: 50px;
                    color: rgb(182, 187, 196);
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    gap: 10px;
                    cursor: pointer;

                    img{
                        width: 25px;
                        height: 25px;
                        filter: opacity(80%);
                    }

                    #open-link{
                        filter: invert(0.8);
                    }

                    &:hover{
                        background-color: rgba(16, 19, 36, 0.651);
                        color: white;

                        &:hover > img{
                            filter: opacity(100%);
                        }

                        &:hover > #open-link{
                            filter: invert(1);
                        }
                    }
                }
            }
        }

        &:nth-child(2){
            flex-direction: row;

            .project-info{
                margin-left: 20px;
            }
        }
    }
}

.other-projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 900px;
    margin: auto;
    margin-top: 150px;
    gap: 10px;

    img{
        width: 30px;
        height: 30px;
    }

    .ot-project{
        background-color: rgb(49, 48, 77);
        padding: 8%;
        font-size: 15px;
        transition: 0.25s ease-in-out;
        position: relative;
        height: 330px;

        &:hover{
            transform: translateY(-1.5%);
        }

        h1{
            margin-top: 10px;
        }

        p{
            margin-bottom: 80px;
        }

        .links-ot-project{
            display: flex;
            align-items: center;
            justify-content: space-between;

            hr{
                width: 100px;
                height: 1px;
                display: flex;
                margin: 0;
            }

            .links-ot{
                display: flex;
                gap: 10px;

                a{
                    img{
                        cursor: pointer;
                    }
                }

                #git-icon{
                    transform: scale(0.8);
                    filter: opacity(0.8);

                    &:hover{
                        filter: opacity(1);
                    }
                }

                #link-icon{
                    filter: opacity(0.7) invert(1);

                    &:hover{
                        filter: invert(1);  
                    }
                }
            }
        }
    }
}

@media screen and ( max-width: 768px ) {
    .projects{
        margin-left: 70px;
        margin-right: 70px;

        .project{
            flex-direction: column;
            padding: 4%;

            &:nth-child(2){
                flex-direction: column;
            }

            .project-img, .project-info{
                width: 100%;

                &:nth-child(2){
                    margin: 0;
                }
            }

            .project-info{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding-bottom: 100px;

                p{
                    &:nth-child(1){
                        margin-top: 30px;
                        font-size: 1.2rem;
                    }
                }

                #p-info-project{
                    font-size: 1rem;
                }
            }
        }
    }

    .other-projects{
        grid-template-columns: 1fr;
        margin-left: 70px;
        margin-right: 70px;

        .ot-project{
            width: 100%;
        }
    }
}