main{
    display: flex;
    max-width: 900px;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
    margin: auto;
    padding-left: 50px;

    .main-principal{
        width: 100%;

        p{
            margin-top: 20px;
            max-width: 600px;

            &:nth-child(1){
                font-size: 18px;
            }
        }

        h1{
            font-size: 80px;
            margin-top: -10px;
            margin-bottom: 0px;
            letter-spacing: 4px;
            color: rgb(240, 236, 229);
        }

        h3{
            margin-top: 0px;
            font-size: 30px;
            font-weight: 300;
            color: rgba(240, 236, 229, 0.904);
        }
    }
}