main{
    display: flex;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    padding-top: 170px;
    margin: auto;
    padding-left: 50px;

    .main-principal{
        p{
            margin-top: 20px;

            &:nth-child(1){
                font-size: 15px;
            }
        }

        h1{
            font-size: 80px;
            margin-top: -10px;
            margin-bottom: 0px;
            letter-spacing: 2px;
        }

        h3{
            margin-top: 0px;
            font-size: 30px;
            font-weight: 300;
        }
    }
}