section{
    display: flex;
    flex-direction: column;
}

#about-me-h1{
    font-size: 2rem;
    display: flex;
    align-self: center;
    margin-top: 160px;
    border-bottom: 2px solid rgb(182, 187, 196);
    padding-left: 30px;
    padding-right: 30px;
}

.about-me{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 23px;
    margin-right: auto;
    margin-left: auto;
    max-width: 850px;

    .text-about-me{
        display: flex;
        flex-direction: column;
        position: relative;

        p:nth-child(1){
            margin-top: 0px;
        }

        h2{
            color: white;
        }
    }

    .tecnology-used{
        img{
            width: 40px;
            height: 40px;
            margin-right: 20px;
            filter: brightness(0) invert(1);
            cursor: pointer;

            &:nth-child(2){
                filter: grayscale(100%) brightness(70%) contrast(2) invert(2);
                transform: scale(0.9);
            }

            &:nth-child(5){
                transform: scale(1);
            }

            &:nth-child(6){
                transform: scale(0.85);
            }

            &:nth-child(5), &:nth-child(6){
                filter: grayscale(100%) brightness(70%) contrast(300%) invert(2);
            }

            &:nth-child(7){
                filter: grayscale(100%) brightness(100%) contrast(2) invert(0);
                transform: scale(0.8);
            }

            &:hover{
                filter: brightness(1) invert(0) contrast(1) grayscale(0); 
            }
        }
    }

    .photo-me{
        display: flex;
        height: 100%;
        justify-content: right;

        .my-photo{
            background-color: white;
            width: 70%;
            height: 100%;
        }
    }
}

@media screen and ( max-width: 768px ) {
    .about-me{
        display: flex;
        flex-direction: column-reverse;
        max-width: 504px;

        .text-about-me{
            margin-top: 50px;
        }

        .photo-me{
            display: flex;
            height: 100%;
            justify-content: center;
    
            .my-photo{
                background-color: white;
                width: 70%;
                height: 400px;
            }
        }
    }
}