nav {
  position: fixed;
  z-index: 9999;
  display: flex;
  background-color: rgb(22, 26, 48);
  color: rgb(182, 187, 196);
  top: 0;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.123);
  transition: 0.3s ease-in-out;
}
nav .r-flex {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
nav .r-flex .r-circle {
  margin-right: 10px;
  border: 2px solid rgb(182, 187, 196);
  width: 50px;
  height: 50px;
  color: rgb(182, 187, 196);
  border-radius: 50px;
  justify-content: center;
  font-weight: 700;
  align-items: center;
  font-size: 30px;
  display: flex;
  font-family: "DM Sans", sans-serif;
}
nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
nav ul li:nth-child(1), nav ul :nth-child(2), nav ul :nth-child(3), nav ul :nth-child(4) {
  margin-right: 30px;
  font-size: 15px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  display: inline-block;
  color: rgb(182, 187, 196);
  transition: 0.3s ease-in-out;
}
nav ul li:nth-child(1)::after, nav ul :nth-child(2)::after, nav ul :nth-child(3)::after, nav ul :nth-child(4)::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #FFF;
  transition: width 0.3s;
  margin-right: 0;
  margin-left: auto;
}
nav ul li:nth-child(1):hover, nav ul :nth-child(2):hover, nav ul :nth-child(3):hover, nav ul :nth-child(4):hover {
  color: white;
}
nav ul li:nth-child(1):hover::after, nav ul :nth-child(2):hover::after, nav ul :nth-child(3):hover::after, nav ul :nth-child(4):hover::after {
  width: 100%;
  margin-right: auto;
  margin-left: 0;
}
nav ul li:nth-child(1):nth-child(4), nav ul :nth-child(2):nth-child(4), nav ul :nth-child(3):nth-child(4), nav ul :nth-child(4):nth-child(4) {
  margin-right: 15px;
}
nav .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  gap: 5px;
  transition: 0.1s ease-in-out;
}
nav .hamburger #s1, nav .hamburger #s2, nav .hamburger #s3 {
  width: 20px;
  height: 2px;
  background-color: white;
}
nav #ham {
  display: none;
}
nav #ham:checked + .hamburger #s2 {
  display: none;
}
nav #ham:checked + .hamburger {
  gap: 0px;
}
nav #ham:checked + .hamburger #s1 {
  transform: rotate(405deg);
}
nav #ham:checked + .hamburger #s3 {
  transform: rotate(-405deg);
  margin-top: -2px;
}

#cv button {
  cursor: pointer;
  background: none;
  border: 0;
  box-sizing: border-box;
  margin-right: 30px;
  padding: 15px 20px;
  box-shadow: inset 0 0 0 2px rgb(22, 26, 48);
  color: rgb(182, 187, 196);
  font-size: 0.95rem;
  position: relative;
  vertical-align: middle;
}
#cv button::before, #cv button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
#cv button:hover {
  color: white;
}
#cv button::before, #cv button::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
  transition: 0.3s ease-in-out;
}
#cv button::before {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transform: scale3d(0, 1, 1);
}
#cv button::after {
  border-left: 2px solid white;
  border-right: 2px solid white;
  transform: scale3d(1, 0, 1);
}
#cv button:hover::before, #cv button:hover::after {
  transform: scale3d(1, 1, 1);
  transition: 0.7s;
}

@media screen and (max-width: 768px) {
  nav {
    top: 0px;
  }
  nav ul {
    display: none;
  }
  nav .hamburger {
    display: flex;
    margin-right: 30px;
  }
  nav .ul-toggle {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    min-height: 1000vh;
    background-color: #31304D;
    top: -50px;
  }
  nav .ul-toggle li {
    font-size: 1.8rem;
    margin: 0;
    margin-right: auto !important;
    margin-left: 50px !important;
    margin-bottom: 15px !important;
  }
  nav .ul-toggle li:nth-child(1) {
    padding-top: 200px;
    font-size: 1.8rem;
    margin-right: auto !important;
    margin-left: 50px !important;
  }
  nav .ul-toggle li:nth-child(1), nav .ul-toggle li:nth-child(4) {
    margin: 0;
  }
  .still {
    top: 0px !important;
  }
  #cv button {
    margin: 0;
  }
}
@media screen and (max-width: 420px) {
  nav .ul-toggle {
    padding: 0px;
  }
}
@media screen and (max-width: 320px) {
  nav .ul-toggle li, nav .ul-toggle li:nth-child(1) {
    font-size: 1.4rem;
    margin-left: 20px !important;
  }
  #cv button {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=Nav.css.map */
